/*-------------------------------------------
    Colors
-------------------------------------------*/
$link-color: #0088cc;
$yellow: #ffce39;


/*-------------------------------------------
    Sizes
-------------------------------------------*/
$base-font: 17;
$base-font-size: 17px;


/*-------------------------------------------
    Fonts
-------------------------------------------*/
$heading-font: "calluna",serif;
$body-font: "calluna",serif;


/*-------------------------------------------
    Media Queries
-------------------------------------------*/
$break-small: 30em; /* 480px / 16px; */
$break-medium: 48em; /* 768px / 16px; */
$break-large: 61.25em; /* 980px / 16px; */
$break-xlarge: 71.25em; /* 1140px / 16px; */