.column-left {
	background: #1e1e1e;
	padding-right: 140px;
	width: 340px;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
}
.column-left-interior {
	padding: 10px;
}
.inner-nav {
	background: #eee;
	height: 100%;
	position: fixed;
	top: 0;
	left: 200px;
	width: 140px;
	-webkit-box-shadow: inset 1px 0 2px rgba(0,0,0,.15), 1px 0 2px rgba(0,0,0,.25);
}
.column-right {
	margin-left: 340px;
}
.story-nav li {
	margin: 27px 17px;
	position: relative;
}
.story-nav li a {
	border: 3px solid #eee;
	display: block;
	text-decoration: none;
	-webkit-transition: all .1s linear;
	&:hover {
		border-color: #da2328;
		text-decoration: none;
	}
}
.story-nav img {
	display: block;
}
.story-nav span {
	font-family: arial;
	font-size: 10px;
	display: block;
	line-height: 1.2;
	width: 100px;
	margin-bottom: -15px;
	overflow: hidden;
	position: absolute;
	bottom: 0;
	text-overflow: ellipsis;
	white-space: nowrap;
	opacity: 0;
	-webkit-transition: all .1s linear;
}
.story-nav a:hover span {
	opacity: 1;
}





/* Article */
.article {
	margin-bottom: 5em;
}
.article-body {
	margin: 0 auto;
	width: 90%;
}
.article-img img {
	display: block;
	width: 100%;
}
.article h1, .article h2, .article h3 {
	font-style: italic;
	font-weight: normal;
}
.article h1 {
	background: #fff;
	border-top: 1px dotted #c9c9c9;
	border-bottom: 1px dotted #c9c9c9;
	font-size: 60px;
	margin: 30px 0 15px 0;
	padding: 15px 0 20px;
	text-transform: none;
}
/* Intro, Meta, Share */
.article-meta, .article-intro, .article-share {
	clear: left;
	float: left;
	width: 224px;
}
/* Intro */
.article-intro {
	border-bottom: 1px dotted #c9c9c9;
	padding-bottom: 20px;
}
.article-intro p {
	color: #f44234;
	font-size: 21px;
	font-style: italic;
	margin-bottom: 0;
}
/* Meta */
.article-meta {
	border-bottom: 1px dotted #c9c9c9;
	padding-top: 20px;
	padding-bottom: 9px;
}
.article-meta p {
	color: #888;
	font-size: 11px;
	font-family: helvetica,arial,sans-serif;
	margin: 0 0 12px;
}
.article-meta p em {
	color: #333;
	font-size: 15px;
	font-style: italic;
	line-height: 24px;
}

/* Article Content */
.article-content {
	margin: 20px 0 0 256px;
	padding-bottom: 20px;
}
.article-content .full-quote, .article-content .full-image {
	border-bottom: 1px dotted #c9c9c9;
	border-top: 1px dotted #c9c9c9;
	margin: 20px 0 20px -256px;
	width: 524px;
}
.article-content .full-quote p {
	background: #fff;
	color: #f44234;
	font-size: 32px;
	font-family: 'bell mt',georgia,'times new roman',serif;
	font-style: italic;
	line-height: 45px;
	margin: 15px 0;
	width: 780px;
}
.article-content .full-image img {
	display: block;
	margin: 15px 0;
	max-width: none;
}